<header class="align-center">
	<h2>Log In</h2>
</header>

<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
  <label>Email</label> <br>
  <input type="text" name="user[email]"> <br> </br>

  <label>Password</label> <br>
  <input type="password" name="user[password]"> <br> </br>

  <input type="submit" value="Log In">
<% end %>

<p>or <%= link_to("Sign In via Google+", "/auth/google_oauth2") %>
</p>
