<h1><%= @user.first_name %>'s Beers</h1>

<% if !@user.beers.empty? %>
  <h4>Your Beers</h4>
  <ul>
    <% @user.beers.each do |beer| %>
      <li><%= link_to beer.name, beer_path(beer) %></li>
    <% end %>
  </ul>
<% else %>
  <h4>You don't have any beers!</h4>
  <p>This is button to click on to add a beer to your collection</p>
<% end %>
