<!-- Banner -->
  <section id="banner">
    <div class="inner">
      <header>
        <h1>Welcome to BeerMe</h1>
      </header>

      <div class="flex ">

        <div>
          <h3>Live</h3>
        </div>

        <div>
          <h3>Laugh</h3>
        </div>

        <div>
          <h3>Beer</h3>
        </div>

      </div>

      <footer>
        <%= link_to "Get Started", new_user_path, class: "button" %>
      </footer>
    </div>
  </section>


<!-- Three -->
  <section id="three" class="wrapper align-center">
    <div class="inner">
      <div class="flex flex-3">
        <article>
          <i class="icon fa-beer fa-6" aria-hidden="true"></i>
          <header>
            <h3>Beers<br /></h3>
          </header>
          <p>Explore our beers</p>
          <footer>
            <%= link_to "View", beers_path, class: "button" %>
          </footer>
        </article>
        <article>
          <i class="icon fa-building fa-6" aria-hidden="true"></i>
          <header>
            <h3>Breweries</h3>
          </header>
          <p>Check out our breweries</p>
          <footer>
            <%= link_to "View", breweries_path, class: "button" %>
          </footer>
        </article>
        <article>
          <i class="icon fa-list fa-6" aria-hidden="true"></i>
          <header>
            <h3>Categories</h3>
          </header>
          <p>Browse beer by category</p>
          <footer>
            <%= link_to "View", categories_path, class: "button" %>
          </footer>
        </article>
      </div>
    </div>
  </section>
