<!-- Banner -->
  <section id="banner">
    <div class="inner">
      <header>
        <h1>Welcome to BeerMe</h1>
      </header>

      <div class="flex ">

        <div>
          <span class="icon fa-car"></span>
          <h3>Live</h3>
          <!-- <p>Utilize our community database to find beers you like</p> -->
        </div>

        <div>
          <span class="icon fa-camera"></span>
          <h3>Laugh</h3>
          <!-- <p>Read about beer</p> -->
        </div>

        <div>
          <span class="icon fa-bug"></span>
          <h3>Beer</h3>
          <!-- <p>Nulla vitae mauris non felis</p> -->
        </div>

      </div>

      <footer>
        <%= link_to "Get Started", signin_path, class: "button" %>
      </footer>
    </div>
  </section>


<!-- Three -->
  <section id="three" class="wrapper align-center">
    <div class="inner">
      <div class="flex flex-3">
        <article>
          <div class="image round">
            <img src="images/pic01.jpg" alt="Pic 01" />
          </div>
          <header>
            <h3>Beers<br /></h3>
          </header>
          <p>Explore our beers</p>
          <footer>
            <%= link_to "View", beers_path, class: "button" %>
          </footer>
        </article>
        <article>
          <div class="image round">
            <img src="images/pic02.jpg" alt="Pic 02" />
          </div>
          <header>
            <h3>Breweries</h3>
          </header>
          <p>Check out our breweries</p>
          <footer>
            <%= link_to "View", breweries_path, class: "button" %>
          </footer>
        </article>
        <article>
          <div class="image round">
            <img src="images/pic02.jpg" alt="Pic 02" />
          </div>
          <header>
            <h3>Categories</h3>
          </header>
          <p>Browse beer by category</p>
          <footer>
            <%= link_to "View", categories_path, class: "button" %>
          </footer>
        </article>
      </div>
    </div>
  </section>
