<header class="align-center">
	<h2>Breweries</h2>
</header>

<div class="center">
	<table>
		<thead>
			<tr>
				<th>Brewery</th>
				<th>Location</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>
