<header class="align-center">
	<h2>Breweries</h2>
</header>

<div class="center">
	<!-- brewery list -->
	<table>
		<thead>
			<tr>
				<th>Brewery</th>
				<th>Location</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>

	<div class="3u$ 12u$(small)">
		<button type="button" id="addBrewery" class="small icon fas 	fa-plus">Brewery</button>
	</div>
</div>
