<header class="align-center" id="breweryHeader">
	<h2 id="breweryName"></h2>
	<p><i class="icon fas fa-chevron-circle-left fa-lg"></i><a href="#" class="js-prev">PREV</a> &nbsp; &nbsp;
	<a href="#" class="js-next">NEXT</a><i class="icon fas fa-chevron-circle-right fa-lg"></i></p>
  <p id="breweryLocation"></p>
</header>

<div class="box">
  <p id="breweryDescription"></p>
</div>

<h3>Beers</h3>

<div class="row 200%">
	<div class="6u 12u$(medium)">
		<%= form_tag("/breweries/#{@brewery.id}", method: "get", id: "categoryFilter") do %>
      <%= render partial: 'application/category_filter', locals: {categories: @categories} %>
	  <% end %>
	</div>

	<div class="6u$ 12u$">
		<div class="table-wrapper">
	    <table>
	      <thead>
	        <tr>
						<th>Brewery</th>
	          <th>Name</th>
	          <th>Abv</th>
	        </tr>
	      </thead>
	      <tbody>
				</tbody>
	    </table>
	  </div>
	</div>
</div>
