<!-- have a button for tried and for want to try -->
<!-- will this be a nested route? -->
<!-- need to create user_beer and then set the status -->

<form action="/userbeers" method="post">
  <!-- send beer_id as a hidden param -->
  <input type="hidden" name="hidden" value="beer.id">
  <!-- submitting form sets status of tried -->
  <input type="submit" name="Tried" value="true">
</form>

<form action="#{new_user_beer_path}" method="post">
  <!-- send beer_id as a hidden param -->
  <input type="hidden" name="hidden" value="beer.id">
  <!-- submitting form sets status of tried -->
  <input type="submit" name="Want To Try" value="false">
</form>
