<header class="align-center">
	<h2>Categories</h2>
</header>

<div class="center">
	<table>
		<tbody>
			<% @categories.alpha_sorted.each do |category| %>
				<tr>
					<td><%= link_to category.name, category_path(category) %> <%="(#{category.beers.count})" if category.beers %></td>
				</tr>
			<% end %>
		</tbody>
	</table>

</div>
