<header class="align-center" id="categoryHeader" data-id="<%= @category.id %>">
	<p class="showMessage">No more categories to display</p>
	<h2 id="categoryName"><%= @category.name %></h2>
	<p><i class="icon fas fa-chevron-circle-left fa-lg"></i><a href="#" class="js-prev">PREV</a> &nbsp; &nbsp;
	<a href="#" class="js-next">NEXT</a><i class="icon fas fa-chevron-circle-right fa-lg"></i></p>

</header>

<% if @category.description %>
<!-- probably need to update this conditional since @category won't be a thing when jquery/AJAX is used to update -->
  <div class="box">
    <p id="categoryDescription"></p>
  </div>
<% end %>

<h3>Beers</h3>

<div class="row 200%">
	<div class="6u 12u$(medium)">
		<%= form_tag("/categories/#{@category.id}", method: "get", id:
	"breweryFilter") do %>
			<%= render partial: 'application/brewery_filter', locals: {breweries: @breweries} %>
	  <% end %>
	</div>

	<div class="6u$ 12u$(medium)">
		<div class="table-wrapper">
			<table>
				<thead>
					<tr>
						<th>Brewery</th>
						<th>Name</th>
						<th>Abv</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
</div>
